$body-bg: rgb(217, 246, 250);

$header-bg: #435d7d;
$app-name: white;
$icon-bg: white;

$btn-color: white;
$btn-success-bg : #70c15e; 
$btn-danger-bg : #d9493a;
$btn-success-hover-bg : #4c9e34; 
$btn-danger-hover-bg : #af3e2e;

$popup-form-div: rgb(255, 255, 255);
$popup-form-div-border: rgb(126, 126, 126) 1px;
$popup-show-bg: rgba(121, 119, 119, 0.466);

$login-form-bg: rgb(76, 173, 206);
$login-form-input-border:  rgb(92, 155, 167) 1px;
$login-form-styled-btn-border: rgb(112, 112, 211) 1px;

$app-input-border: rgb(112, 208, 211) 1.5px;

$userlist-bg: #ffffff;
$userlist-text-color: #6e6e6e;
$userlist-bottom-border: black;
$userlist-td-th-border: #ddd;
$userlist-edit: #4c9e34;
$userlist-delete: darkred;