@import './colors.scss';

body{
    margin: 0;
    padding: 0;
    font-family: "Agency FB";
    background-color: $body-bg;
}


.header{
    padding: 15px;
    background-color: $header-bg;
}

.app-name{
    font-weight: bolder;
    font-size: xx-large;
    color: $app-name;
    display: inline;
}

.app-nav{
    display: inline;
    float: right;
    margin-top: 4px;
}

.icon{
    color: $icon-bg;
}

.btn-success{ 
    background-color: $btn-success-bg; 
    &:hover{
        background-color: $btn-success-hover-bg;
    }
}

.btn-danger{
    background-color: $btn-danger-bg;  
    &:hover{
        background-color: $btn-danger-hover-bg;
    }
}

.btn-success , .btn-danger{ 
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    color: $btn-color; 
    i{
        display: block;
        margin-bottom: -21px;
    }

    div{
        padding-left: 30px;
        padding-right: 5px;
    }
} 