@import './colors.scss';

.header{
    text-align: right;
    display: block;
    padding: 5px;
    button{
        display: inline-block;
        padding: 5px 10px;
        margin-right: 5px;
        font-weight: 700; 
        i{
            float: left; 
        }
    } 
} 

.popup{
    display: none;
    text-align: center;
    padding: 20px;
    overflow: scroll;
    > div{ 
        width: 400px;
        border-radius: 5px;
        background-color: $popup-form-div;
        border: solid $popup-form-div-border;
        display: inline-block;
        padding: 20px;
    }
    .buttonDiv button{
        margin-top: 20px;
        margin-right: 5px;
        padding: 10px 20px;
    }
    .cross {
        float: right;
        cursor: pointer;
    }
}
  

.buttonDiv{
    text-align: right;
}

.show{
    display: block;
    position: fixed;
    background-color: $popup-show-bg;
    width: 100%;
    height: 100%;
}
 