@import './colors.scss';

.alignCenter{
    text-align: center;
}

.lightBorder{
    /* border: solid #d6d0d0 2px; */
    border-radius: 7px;
}

.loginForm {
    padding: 30px;
    padding-right: 50px; 
    display: inline-block;
    margin-top: 20px;
    width: 300px; 
    color: $login-form-bg;
    form{
        margin-top: 20px;
    }
    label {
        display: block;  
    }
    input {
        display: block;
        padding: 8px;
        width: 100%;
        border-radius: 4px;
        border: solid $login-form-input-border;
        margin-bottom: 30px;
    }
}

.styledBtn {
    padding: 5px 10px; 
    border: solid $login-form-styled-btn-border;
    border-radius: 3px;
}