@import './colors.scss';

.searchForm input{
    padding: 10px 15px;
    width: 50%; 
    margin: 10px;
}

.profile-image{
    border-radius: 50%; 
    width: 75px;
    height: 74px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
} 


.user-list{  
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    background-color: $userlist-bg;
    color: $userlist-text-color;
    tbody>tr,
    thead>tr {
        display: table-row;
        border-bottom: solid $userlist-bottom-border 1px;
        cursor: default;
        &:hover{
            transform: scale(1.05);
        }
        td,th{
            padding: 10px 20px;
            text-align: left;
            line-height: 1.42857143;
            vertical-align: top;
            margin: 0px;
            border-bottom: 1px solid $userlist-td-th-border;
        }
        &:first-of-type{
            font-weight: 800;
            font-size: large;
        }
    }
}

.edit{
    color: $userlist-edit; 
}
.delete{ 
    color: $userlist-delete;
}

.delete, .edit{
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}
 