@import './colors.scss';

.schoolDetails{
    text-align: center;
    div {
        display: inline-block;
        width: 300px;
    }
}
 

.appInputs{
    padding: 10px 20px;
    margin-bottom: 20px;
    width: -webkit-fill-available;
    border: solid $app-input-border;
    border-radius: 4px;
}